@page "/ChangePasswordUser/{UserId}"

@attribute [Authorize(Roles = "Admin")]

@using Domain.Entities;
@using Backend.Authentication;
@using Backend.Services;

@inject NavigationManager _navigationManager;
@inject UserService _userService;
@inject IJSRuntime js;

@attribute [Authorize(Roles = "Admin")]

<h3>Change Password</h3>

@if(user == null)
{
    <div>Loading........</div>
}
else
{
    <EditForm Model="@user" OnValidSubmit="@UpdateUserAsync">
        <div class="userFields">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="@model.Password"></InputText>
            </div>
            <div class="mb-3">
                <label for="passwordRepeat" class="form-label">Repeat Password</label>
                <InputText id="passwordRepeat" type="password" class="form-control" @bind-Value="@model.RepeatPassword"></InputText>
            </div>
        </div>
         <button type="submit">
            <span class="bi bi-prescription"></span>
                Change Password
         </button>
         <button type="button" @onclick="Close">
           <span class="oi oi-media-skip-backward"></span>
              Close
         </button>
    </EditForm>
}

@code {
    [Parameter]
    public string UserId { get; set; }

    public User user { get; set; }
    private Encryption encryption { get; set; } = new Encryption();
    public class Model
    {
        public string Password;
        public string RepeatPassword;
    };
    private Model model = new Model();
    protected override async Task OnInitializedAsync()
    {
        user = await _userService.GetUserAsync(int.Parse(UserId));
        user.Email = string.Empty;
        user.Firstname = string.Empty;
        user.Lastname = string.Empty;
        user.Role = string.Empty;
        user.Username = string.Empty;
    }
    private async Task UpdateUserAsync()
    {
        if (!model.Password.Equals(model.RepeatPassword))
        {
            await js.InvokeVoidAsync("alert","Both fields do not match!");
            return;
        }
        string temp = encryption.EncodePasswordToBase64(model.Password);
        user.Password = temp;
        await _userService.UpdateUserAsync(user);
        Close();
    }
    private void Close()
    {
        _navigationManager.NavigateTo("/users");
    }
}
